
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li>Đăng ký</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login mt-32">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class=" col-md-6">
                <div class="account_form">
                    <h2>Đăng ký</h2>
                    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                    {
                        <p>
                            <label>Họ và tên <span>*</span></label>
                            <input type="text" name="Name">
                        </p>
                        <p>
                            <label>Tài khoản <span>*</span></label>
                            <input type="text" name="Username" required>
                        </p>
                        <p>
                            <label>Mật khẩu <span>*</span></label>
                            <input type="password" name="Password" required>
                        </p>
                        <p>
                            <label>Email <span></span></label>
                            <input type="text" name="Email">
                        </p>
                        <p>
                            <label>Địa chỉ <span>*</span></label>
                            <input type="text" name="Address" required>
                        </p>
                        <p>
                            <label>Số điện thoại <span>*</span></label>
                            <input type="text" name="Mobile" required>
                        </p>
                        @Html.Raw(ViewBag.Error)
                        <div class="login_submit">

                            <button type="submit">Đăng ký</button>

                        </div>
                    }


                    
                </div>
            </div>
            <!--login area start-->
            <!--register area start-->
            <!--<div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>Register</h2>
                    <form action="#">
                        <p>
                            <label>Email address <span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>-->
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->
