@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li>Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact map start-->
<div class="contact_map">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="map-area">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7449.947980398655!2d105.85977833393406!3d20.993679705232093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac1af19cccb1%3A0x6a8c9d8a41afcca8!2sPark12%20Times%20City!5e0!3m2!1svi!2s!4v1651515293133!5m2!1svi!2s" width="1100" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--contact map end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact_message content">
                    <h3>Liên hệ với chúng tôi</h3>
                    <p>
                        Luôn lấy yếu tố hài hòa về lợi ích làm nền tảng,
                        lãnh đạo Công ty hiểu rằng, niềm tin của khách hàng về giá thành,
                        chất lượng và dịch vụ là sự sống còn của Công ty.
                        Do vậy, mọi hoạt động kinh doanh của Công ty luôn hướng tới mục tiêu tôn trọng
                        và bảo đảm quyền lợi cho khách hàng, chinh phục khách hàng bằng chất lượng sản phẩm và
                        dịch vụ tối ưu. Để được phục vụ tốt nhất, Quý khách vui lòng liên hệ với chúng tôi theo các thông tin
                        sau:
                    </p>
                    <ul>
                        <li>
                            <i class="fa fa-fax"></i> Địa chỉ : Văn Xá, Quốc Tuấn, An Dương, Hải Phòng.
                        </li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#"> ngodaiduong116@gmail.com</a></li>
                        <li><i class="fa fa-phone"></i><a href="tel:0702185290">0702185290</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact_message form">
                    <h3>Thông tin</h3>
                    <form id="contact-form" method="POST" action="assets/mail.php">
                        @if ((string)Session["UserClient"] == "")
                        {
                            <p>
                                <label> Họ và tên (bắt buộc)</label>
                                <input name="name" placeholder="Tên *" type="text">
                            </p>
                            <p>
                                <label> Email của bạn (bắt buộc)</label>
                                <input name="email" placeholder="Email *" type="email">
                            </p>
                        }

                        <p>
                            <label> Chủ đề</label>
                            <input name="subject" placeholder="Chủ đề " type="text">
                        </p>
                        <div class="contact_textarea">
                            <label> Nội dung</label>
                            <textarea placeholder="Nội dung *" name="message" class="form-control2"></textarea>
                        </div>
                        <button type="submit"> Gửi</button>
                        <p class="form-messege"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->