@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/trang-chu">Trang chủ</a></li>
                        <li>Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about section area -->
<div class="about_section mt-32">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <img src="~/Content/img/aboutus5.jpg" style="width:650px;margin: 0 0 0 20%;height:350px;" alt="">
                </div>

                <div class="about_content">
                    <h1>Chào mừng đến với cửa hàng nước hoa Rose!</h1>
                    <p>
                        <b>Cửa hàng nước hoa Rose</b> là một trong những shop cung cấp và phân phối nước hoa uy tín trên toàn quốc.
                        Rất hân hạnh được phục vụ quý khách!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->
<!--chose us area start-->
<div class="choseus_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chose_title">
                    <h1>Giá trị cốt lõi của cửa hàng</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/Content/img/aboutus1.jpg" alt="" style="width:450px;height:300px;margin:15px;">
                    </div>
                    <div class="chose_content">
                        <h3>Tận tâm</h3>
                        <p>
                            <b>"Vượt lên sự mong đợi"</b> Rose Perfume đặt tận tâm là nền tảng của phục vụ,
                            lấy khách hàng làm trung tâm, mang đến những giá trị đích thực tới khách hàng và đối tác.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/Content/img/aboutus2.jpg" alt="" style="width:450px;height:300px;margin:15px;">
                    </div>
                    <div class="chose_content">
                        <h3>Trách nhiệm</h3>
                        <p>
                            <b>"Chúng tôi luôn cố gắng"</b> Rose Perfume đặt chữ TÍN lên hàng đầu,
                            luôn thể hiện tinh thần trách nhiệm cao cùng phương châm “Làm hết việc chứ không làm hết giờ”.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chose us area end-->
<!--services img area-->
<div class="about_gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/Content/img/aboutus3.jpg" alt="" style="width:450px;height:300px;margin:15px;">
                    </div>
                    <div class="about_gallery_content">
                        <h3>Khác biệt</h3>
                        <p>
                            <b>"Dám nghĩ-Dám làm"</b> Rose Perfume đặt sự khác biệt là
                            chủ trương để xây dựng cửa hàng thành một chuỗi cửa hàng có thương hiểu trên toàn quốc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="~/Content/img/aboutus4.jpg" alt="" style="width:450px;height:300px;margin:15px;">
                    </div>
                    <div class="about_gallery_content">
                        <h3>Sáng tạo</h3>
                        <p>
                            <b>"Không gì là không thể"</b> Rose Perfume coi sáng tạo là đòn bẩy để phát triển,
                            luôn đề cao các sáng kiến để hoàn thiện, hiệu quả hơn, nâng tầm giá trị.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--services img end-->
<!--testimonials section start-->
<div class="testimonial_are">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial_titile">
                    <h1>Quản lý công ty</h1>
                </div>
            </div>
            <div class="testimonial_active owl-carousel">
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>
                            "Nếu bạn muốn phát triển, hãy tìm kiếm một cơ hội thật tốt.
                            Nếu bạn muốn có một công ty lớn, bạn hãy nghĩ đến những vấn đề mà bạn phải đối mặt
                            trước khi nghĩ đến thành công"
                        </p>
                        <img src="~/Content/img/AboutUs/CEO1.jpg" alt="" style="width:200px;height:200px;border-radius:50%;">
                        <span class="name">Nguyễn Hồng Nhung</span>
                        <span class="job_title">Manager of Rose Perfume</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-star"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>
                            "Một trong những lỗi lầm lớn nhất của con người là họ cứ ép mình phải hứng thú với thứ gì đó.
                            Bạn không chọn đam mê của mình; chính đam mê lựa chọn bạn"
                        </p>
                        <img src="~/Content/img/AboutUs/CEO2.jpg" alt="" style="width:200px;height:200px;border-radius:50%;">
                        <span class="name">Hoàng Thùy Linh</span>
                        <span class="job_title">Kế toán tài chính</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-star"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>
                            "Chớ nên vội vã muốn cho chóng xong việc, chớ nên chỉ nhìn thấy lợi nhỏ thôi.
                            Vì lẽ vội vã mà muốn xong việc thì không đạt được mục đích,
                            chỉ thấy lợi nhỏ thì việc lớn làm sao thành tựu được"
                        </p>
                        <img src="~/Content/img/AboutUs/CEO3.jpg" alt="" style="width:200px;height:200px;border-radius:50%;">
                        <span class="name">Ngô Tú Anh</span>
                        <span class="job_title">Trợ lý kĩ thuật</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonials section end-->