<!--footer area start-->
<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5">
                    <div class="widgets_container contact_us wow fadeInUp" data-wow-delay="0.1s">

                        <div class="footer_contact">
                            <p>
                                Chúng tôi luôn mong muốn mang lại sự phục vụ tận tình và chu
                                đáo nhất đến cho khách hàng...
                            </p>
                            <div class="customer_support">
                                <div class="support_img_icon">
                                    <img src="~/Content/Client/img/hotline.png" alt="">
                                </div>
                                <div class="customer_support_text">
                                    <p>
                                        <span>Hỗ trợ khách hàng</span>
                                        <a href="tel:(08)123456789">0702185290</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-7">
                    <div class="widgets_container widgets_subscribe wow fadeInUp" data-wow-delay="0.2s">
                        <h3>Đăng ký theo dõi</h3>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter">
                                <input id="mc-email" type="email" autocomplete="off"
                                       placeholder="Địa chỉ email của bạn..." />
                                <button id="mc-submit">Đăng ký</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>

                        <div class="footer_social">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu wow fadeInUp" data-wow-delay="0.3s">
                        <h3>Địa chỉ các chi nhánh</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="">CS1: Tầng 3, Tòa nhà 24T3 Thanh Xuân Complex, Hà Nội.</a></li>
                                <li><a href="">CS2: 177 Tôn Đức Thắng, Quận Đống Đa, Hà Nội</a></li>
                                <li><a href="">CS3: 229 Đặng Tiến Đông, Q Đống Đa, Hà Nội</a></li>
                                <li><a href="">CS4: 370 Lạc Trung, Hai Bà Trưng, Hà Nội</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p class="copyright-text">
                            &copy; 2022 <a href="#">Cửa Hàng Nước Hoa Rose</a>. Made with <i class="fa fa-heart text-danger"></i> by <a href="https://www.facebook.com/profile.php?id=100071548764129&sk=about"
                                                                                                                                        target="_blank">Ngô Đại Dương</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->