<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn hàng mời từ đơn hàng: {{NameCus}}</title>
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{NameCus}}
    Điện thoại: {{PhoneNumberCus}} <br />
    Email : {{EmailCus}} <br />
    Địa chỉ : {{AddressCus}} <br />
    Trị Giá : {{Total}} <br />
</body>
</html>